.detail-main {
  height: 100%;
  position: relative;
  overflow: hidden;
}

// 详情
.d-container-bd {
  padding-top: 15px;
  flex: 1;
  overflow: hidden;

  ::v-deep .el-tabs__item {
    color: #333;
    font-size: 12px;
    top: 2px;
    margin-top: -2px;
  }

  ::v-deep .el-tabs__nav-scroll {
    min-height: 39px;
  }

  ::v-deep .el-tabs__item.is-active {
    border-top: 2px solid $--color-primary;
    color: #333;
  }

  ::v-deep .el-tabs {
    height: calc(100% - 15px) !important;
  }

  ::v-deep .el-tabs__content {
    height: calc(100% - 40px) !important;
    padding: 0;
    overflow: hidden;
    position: relative;

    .el-tab-pane {
      height: 100%;
      overflow: hidden;
    }
  }

  &--left {
    flex: 1;
    box-shadow: none;
    position: relative;
    overflow: hidden;
  }

  &--right {
    width: 300px;
    min-width: 300px;
    box-shadow: none;
    flex-shrink: 0;
    height: calc(100% - 15px);
    background-color: white;
    margin-left: 15px;
    border-left: 1px solid $--border-color-light;
    border-top: 1px solid $--border-color-light;
    border-bottom: 1px solid $--border-color-light;
  }
}

.d-container {
  position: relative;
  height: 100%;
}

/** 审核信息 */
.examine-info {
  margin-top: 15px;
  border-top: 1px solid $--border-color-light;
  border-bottom: 1px solid $--border-color-light;
}

// 重要按钮
.firse-button {
  position: absolute;
  bottom: 30vh;
  right: -1px;
  z-index: 2;
  font-size: 12px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 6px 10px;
  font-size: 12px;
  background-color: #F1F5FD;

  ::v-deep span {
    line-height: 13px;
  }

  ::v-deep .el-icon--right {
    margin-left: 0px;
    margin-top: 5px;
    transition: transform .3s;
  }

  ::v-deep .el-icon--right.is-reverse {
    transform: rotateZ(180deg);
  }
}

// 标星
.focus-icon {
  margin-left: 5px;
  font-size: 14px;
  color: #D9D9D9;
  cursor: pointer;
  &.active {
    color: #FAC23D;
  }
}
