<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakarote.hrm.mapper.HrmAppraisalPlanMapper">
    <select id="queryAppraisalOfEmployeeList" resultType="com.kakarote.hrm.entity.VO.AppraisalPlanOfEmployeeVO">
        select ea.*,e.employee_name,e.mobile,e.employment_forms,e.job_number,ap.appraisal_plan_name,d.name as
        deptName,ap.appraisal_cycle_type,ap.appraisal_cycle,e1.employee_name as stageUsers ,s.stage_type from
        wk_hrm_appraisal_employee ea
        left join wk_hrm_appraisal_plan ap on ea.appraisal_plan_id = ap.appraisal_plan_id
        left join wk_hrm_appraisal_employee_stage s on s.appraisal_plan_id = ea.appraisal_plan_id and ea.employee_id =
        s.employee_id and ea.stage_sort = s.sort
        left join wk_hrm_employee e1 on s.stage_user_id = e1.employee_id
        left join wk_hrm_employee e on ea.employee_id = e.employee_id
        left join wk_hrm_dept d on e.dept_id = d.dept_id
        where 1=1
        <if test="data.status != null">
            and ea.stage_status = #{data.status}
        </if>
        <if test="data.employeeId != null">
            and ea.employee_id = #{data.employeeId}
        </if>
        <if test="data.employeeName != null and data.employeeName != ''">
            and e.employee_name = #{data.employeeName}
        </if>
        <if test="data.appraisalPlanId != null">
            and ea.appraisal_plan_id = #{data.appraisalPlanId}
        </if>
        <if test="data.level != null and data.level != ''">
            and ea.level = #{data.level}
        </if>
        <if test="data.appraisalPlanName != null and data.appraisalPlanName != ''">
            and ap.appraisal_plan_name like concat('%',#{data.appraisalPlanName},'%')
        </if>
    </select>


    <select id="queryAppraisalPlanPageListByStatus" resultType="com.kakarote.hrm.entity.VO.AppraisalPlanVO">
        select a.*,
        (select count(1) from wk_hrm_appraisal_plan_relation_employee r where r.appraisal_plan_id = a.appraisal_plan_id)
        as appraisalPersons,
        (select count(1) from wk_hrm_appraisal_employee_stage s where s.appraisal_plan_id = a.appraisal_plan_id and
        s.status = 2 and s.stage_type = 1) as fillPersons,
        (select count(1) from wk_hrm_appraisal_employee_stage s where s.appraisal_plan_id = a.appraisal_plan_id and
        s.status = 2 and s.stage_type = 2) as targetConfirmationPersons,
        (select count(1) from wk_hrm_appraisal_employee_stage s where s.appraisal_plan_id = a.appraisal_plan_id and
        s.status = 2 and s.stage_type = 3) as selfScoringPersons,
        (select count(1) from wk_hrm_appraisal_employee_stage s where s.appraisal_plan_id = a.appraisal_plan_id and
        s.status = 2 and s.stage_type = 4) as otherScoringPersons,
        (select count(1) from wk_hrm_appraisal_employee_stage s where s.appraisal_plan_id = a.appraisal_plan_id and
        s.status = 2 and s.stage_type = 5) as resultAuditPersons,
        (select count(1) from wk_hrm_appraisal_employee s where s.appraisal_plan_id = a.appraisal_plan_id and
        s.stage_status = 6) as resultConfirmationPersons,
        (select count(1) from wk_hrm_appraisal_employee_stage s where s.appraisal_plan_id = a.appraisal_plan_id and
        s.status = 2 and s.stage_type = 9) as executingPersons
        from wk_hrm_appraisal_plan a
        where 1=1
        <if test="appraisalPlanName != null and appraisalPlanName != ''">
            and a.appraisal_plan_name = #{appraisalPlanName}
        </if>
        <if test="status != null">
            and a.status = #{status}
        </if>
        <if test="employeeIds != null and employeeIds.size > 0">
            and a.create_user_id in
            <foreach collection="employeeIds" index="index" item="employeeId" open="(" close=")" separator=",">
                #{employeeId}
            </foreach>
        </if>
        order by create_time desc
    </select>
</mapper>
